VITE_JAVA_API_URL=http://localhost:8080
VITE_PYTHON_API_URL=http://localhost:8000
VITE_KEYCLOAK_URL=http://localhost:8081
VITE_KEYCLOAK_REALM=movie_project_keycloak
VITE_KEYCLOAK_CLIENT_ID=movie_project_frontend_client